.registerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.registerBox .registerForm {
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid grey;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 350px;
  min-width: 280px;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.6);
  z-index: 2;
  position: relative;
}

.registerBox .registerForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.registerBox .registerForm form .label {
  font-weight: 700;
}

.registerBox .registerForm form input {
  margin: 5px 0;
  border: 1px solid grey;
  border-radius: 4px;
  height: 30px;
  padding-left: 10px;
}

.registerBox .registerForm form input:hover {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.registerBox .registerForm form button {
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.registerBox .registerForm form button:hover {
  background-color: #6c63ff;
  color: whitesmoke;
}

.registerBox .registerSvg {
  max-width: 100vw;
  margin-top: -300px;
}
