.sadMessage {
  color: #6c63ff;
  font-weight: 700;
  max-width: 350px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  background-color: whitesmoke;
  text-align: center;
}
